
body,html {
    /* The image used*/
    background: url('./Forgot Password_.png');
    background-repeat:no-repeat;
    height: 100%;
    position: relative;
    background-size:cover;
    background-position: center;
  }

  .form-css{
      display: flex;
      justify-content: center;
      top:50%;
      left: 50%;
      transform: translate3d(-50%,-80%, 0);
      position: absolute;
      
  }
  .text{
    color:rgba(21, 158, 216, 0.42);
    font-style: poppins;
    display: flex;
    justify-content: center;
  }
  .input-css{
      height: 60px;
      width: 423px;
      border-radius: 30px;
  }
  .form-css .form-group ::placeholder {
    color:rgba(21, 158, 216, 0.42); 
  }

  .have-acc{
    color:rgba(21, 158, 216, 0.42);
    font-style: poppins;
    display: flex;
    justify-content:flex-end;
    position: relative;
    left:-14px;
  }
.btn-edit{
        width: 423px !important;
        height: 60px;
        border-radius: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        position: relative;
        cursor: pointer;
        border: 0px;
        background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
        color: #e1e1e1;
    }
.btn-edit:hover{
        color: #ffffff;
  }

  @media only screen and (max-width: 530px) {
    .input-css{
      height: 50px;
      width: 300px;
      border-radius: 30px;
  }
  .btn-edit{
    width: 300px !important;
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
    color: #e1e1e1;
  }
  .btn-edit:hover{
    color: #ffffff;
  }
  .have-acc{
    font-size: small;
    left:-3px;
  }

  .text{
    font-size: small;
    
  }

  }


body,html {
    /* The image used*/
    background: url('./Forgot Password_.png');
    background-repeat:no-repeat;
    height: 100%;
    position: relative;
    background-size:cover;
    background-position: center;
  }

  .form-css{
      display: flex;
      justify-content: center;
      top:50%;
      left: 50%;
      transform: translate3d(-50%,-80%, 0);
      position: absolute;
      
  }
  .text{
    color:rgba(21, 158, 216, 0.42);
    font-style: poppins;
    display: flex;
    justify-content: center;
  }
  .input-css{
      height: 60px;
      width: 423px;
      border-radius: 30px;
  }
  .form-css .form-group ::placeholder {
    color:rgba(21, 158, 216, 0.42); 
  }

  .have-acc{
    color:rgba(21, 158, 216, 0.42);
    font-style: poppins;
    display: flex;
    justify-content:flex-end;
    position: relative;
    left:-14px;
  }
.btn-edit{
        width: 423px !important;
        height: 60px;
        border-radius: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        position: relative;
        cursor: pointer;
        border: 0px;
        background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
        color: #e1e1e1;
    }
.btn-edit:hover{
        color: #ffffff;
  }

  @media only screen and (max-width: 530px) {
    .input-css{
      height: 50px;
      width: 300px;
      border-radius: 30px;
  }
  .btn-edit{
    width: 300px !important;
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
    color: #e1e1e1;
  }
  .btn-edit:hover{
    color: #ffffff;
  }
  .have-acc{
    font-size: small;
    left:-3px;
  }

  .text{
    font-size: small;
    
  }

  }
body,html {
    /* The image used*/
    background: url('./Forgot Password_.png');
    background-repeat:no-repeat;
    height: 100%;
    position: relative;
    background-size:cover;
    background-position: center;
  }

  .form-css{
      display: flex;
      justify-content: center;
      top:50%;
      left: 50%;
      transform: translate3d(-50%,-80%, 0);
      position: absolute;
      
  }
  .text{
    color:rgba(21, 158, 216, 0.42);
    font-style: poppins;
    display: flex;
    justify-content: center;
  }
  .input-css{
      height: 60px;
      width: 423px;
      border-radius: 30px;
  }
  .form-css .form-group ::placeholder {
    color:rgba(21, 158, 216, 0.42); 
  }

  .have-acc{
    color:rgba(21, 158, 216, 0.42);
    font-style: poppins;
    display: flex;
    justify-content:flex-end;
    position: relative;
    left:-14px;
  }
.btn-edit{
        width: 423px !important;
        height: 60px;
        border-radius: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        position: relative;
        cursor: pointer;
        border: 0px;
        background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
        color: #e1e1e1;
    }
.btn-edit:hover{
        color: #ffffff;
  }

  @media only screen and (max-width: 530px) {
    .input-css{
      height: 50px;
      width: 300px;
      border-radius: 30px;
  }
  .btn-edit{
    width: 300px !important;
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
    color: #e1e1e1;
  }
  .btn-edit:hover{
    color: #ffffff;
  }
  .have-acc{
    font-size: small;
    left:-3px;
  }

  .text{
    font-size: small;
    
  }

  }
  
