* {
  font-family: "Raleway", sans-serif;
}

.layout {
  /*    border: 2px solid black;*/
  text-align: center;
  height: 1044.80769px;
}
.top_head {
  /*    border: 2px solid black;*/
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 5px 4px 5px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
  border-radius: 10px;
}
.content {
  /*    border: 2px solid black;*/
  display: inline-block;
  /*margin: 0 auto;
  margin-top: 422.4px;
      margin-top: 100px;*/
  width: 85%;
}
.col-sm-10 {
  text-align: center;
  /*    border: 2px solid pink;*/
  height: 200px;
  margin: 0 auto;
}
.row .col-sm-10 .logo h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
/*----------------------------*/

.row .col-sm-10 form .input-group {
  width: 100%;
}

.row .col-sm-10 form .input-group .form-control {
  border-radius: 50px;
  height: 60px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);

  z-index: auto;
}
/*
.row .col-sm-10 form .input-group .input-group-text{
    border-radius: 45px;
    background-color: #4fb288;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
*/

/*
.row .col-sm-10 form .input-group .input-group-text button{
    border: none;
    background-color: #4fb288;
    color: white;
    font-weight: 500;
    box-decoration-break: slice;
}

.row .col-sm-10 form .input-group .input-group-text{
    font-size: 18px;
    font-weight: 600;
    padding: 0 40px;
    margin-right: 1px;
    height: 50px;
}*/
.row .col-sm-10 form .input-group .buttonS {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  border: none;
  font-weight: 600;
  padding: 0 40px;
  margin-right: 1px;
  height: 50px;
  background-color: #ba2d89;
  border-radius: 50px;
  background-color: #ba2d89;
  margin-left: -145px;
  margin-top: 5px;
  position: relative;
}
