
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link type="text/html" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'forgot_password_page/forgot_password.css' %}">
</head>
<body>
    {% block content %}
    <div class="form-css">
        <form method="POST" style="width:500px;">
            {% csrf_token %}
            <!--<div class="form-group">
                
              <label for="email" class="text">Ok let’s fetch you ya’ login details</label>
              <input type="email" class="form-control mb-4 input-css shadow" placeholder=" Email Address " id="email" required>
            </div>-->
            {{form}}
            <div>
                
                <p class="have-acc" style="padding-right: 8rem;">Already have an account? Back to <a href="/login"> &nbsp Sign Up </a> </p> 
            </div>
            <div>
                <button type="submit" class="btn btn-edit mb-4 shadow">Proceed</button>
            </div>
        </form>
        </div>

    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>