{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Result</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_navbar.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_home.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/severe.css'%}" />
    <link
      type="text/css"
      data-typed-js-css="true"
      href="{% static 'css/style_home_2.css'%}"
    />
  </head>
  <body>

    
    <div class="page-wrapper bg-gra-02 p-t-130 font-poppins">
        <div class="wrapper wrapper--w680" style="text-align: center;">
        <h2  style="text-align: center; color:#ba2d89;">You Immidiately need to consult a doctor! </h2>
      </div>
      </div>
    <div id="gc-main" _ngcontent-nqr-c1="">
    <div class="row"  _ngcontent-nqr-c1="">
      <div _ngcontent-nqr-c1="" class="col-md-5">
          <div _ngcontent-nqr-c1="" class="box-big">
              <h2 _ngcontent-nqr-c1="" style="text-align: center; margin-top: 20px;">Get yourself<span _ngcontent-nqr-c1="" style="color: #ba2d89;"> Checked</span></h2>
              <hr _ngcontent-nqr-c1=""><form _ngcontent-nqr-c1="" class="text-center ng-untouched ng-pristine ng-invalid" novalidate="">
                  <div _ngcontent-nqr-c1="" class="form-group"><input _ngcontent-nqr-c1="" class="form-control ng-untouched ng-pristine ng-valid" name="namee" placeholder="What's your name?" type="text"></div>
                  <div _ngcontent-nqr-c1="" class="form-group"><input _ngcontent-nqr-c1="" class="form-control ng-untouched ng-pristine ng-invalid" name="contactnum" placeholder="What's your contact number?" required="" type="text"></div>
                  <div _ngcontent-nqr-c1="" class="form-group"><input _ngcontent-nqr-c1="" class="form-control ng-untouched ng-pristine ng-valid" name="address" placeholder="What's your Address?" type="text"></div>
                  <div _ngcontent-nqr-c1="" class="form-group"><textarea _ngcontent-nqr-c1="" class="form-control ng-untouched ng-pristine ng-valid" name="symptoms" placeholder="What kind of Symptoms you are facing?" rows="5" type="text"></textarea></div>
                  <button _ngcontent-nqr-c1="" class="btn btn-primary mx-auto " style="margin-top: 10px; background-color:#ba2d89; border: 0ch; width: 80%;">Submit</button>
                </form>
            </div>
        </div>

    
        <div _ngcontent-nqr-c1="" class="col-md-6">
           <div _ngcontent-nqr-c1="" class="small-boxes top-box">
                <h2 _ngcontent-nqr-c1="" style="text-align: center; margin-top: 20px;"><span _ngcontent-nqr-c1="" style="color:  #ba2d89;;">When to seek </span>Medical Attention </h2>
                <hr _ngcontent-nqr-c1=""><div _ngcontent-nqr-c1="" class="row text-center mx-auto">
                    <div _ngcontent-nqr-c1="" class="col-md-4"><img _ngcontent-nqr-c1="" src="{% static 'images/symptom1.png' %}" width="100%">
                        <p _ngcontent-nqr-c1="">Breathing Problem</p>
                    </div>
                    <div _ngcontent-nqr-c1="" class="col-md-4">
                            <img _ngcontent-nqr-c1="" src="{% static 'images/symptom2.png' %}" width="100%"><p _ngcontent-nqr-c1="">Dry Cough</p>
                    </div>
                    <div _ngcontent-nqr-c1="" class="col-md-4"><img _ngcontent-nqr-c1="" src="{% static 'images/symptom3.png' %}" width="100%"><p _ngcontent-nqr-c1="">High Fever</p>
                    </div>
                </div></div>
            
                    <div _ngcontent-nqr-c1="" class="small-boxes bottom-box"><h2 _ngcontent-nqr-c1="" style="text-align: center; margin-top: 20px;"><span _ngcontent-nqr-c1="" style="color:  #ba2d89;;">HelpLine </span>Numbers </h2><hr _ngcontent-nqr-c1="">
                        <div _ngcontent-nqr-c1="" class="row"><div _ngcontent-nqr-c1="" class="col-md-5 mx-auto text-center"><img _ngcontent-nqr-c1="" alt="" src="{%static 'images/call.jpeg'%}">
                    </div>
                    <div _ngcontent-nqr-c1="" class="col-md-7 text-center mx-auto helplinecol ">
                    <select _ngcontent-nqr-c1="" class="form-control">
                        <option _ngcontent-nqr-c1="" disabled="" selected="">Choose your region</option><!---->
                        <option _ngcontent-nqr-c1="" value="+91-866-2410978"> Andhra Pradesh</option>
                        <option _ngcontent-nqr-c1="" value="+91-9436055743"> Arunachal Pradesh</option>
                        <option _ngcontent-nqr-c1="" value="+91-6913347770"> Assam</option><option _ngcontent-nqr-c1="" value="104"> Bihar</option>
                        <option _ngcontent-nqr-c1="" value="104"> Chhattisgarh</option><option _ngcontent-nqr-c1="" value="104"> Goa</option>
                        <option _ngcontent-nqr-c1="" value="104"> Gujarat</option><option _ngcontent-nqr-c1="" value="+91-8558893911"> Haryana</option>
                        <option _ngcontent-nqr-c1="" value="104"> Himachal Pradesh</option><option _ngcontent-nqr-c1="" value="104"> Jharkhand</option>
                        <option _ngcontent-nqr-c1="" value="104"> Karnataka</option><option _ngcontent-nqr-c1="" value="+91-471-2552056"> Kerala</option>
                        <option _ngcontent-nqr-c1="" value="+91-755-2527177"> Madhya Pradesh</option><option _ngcontent-nqr-c1="" value="+91-20-26127394"> Maharashtra</option>
                        <option _ngcontent-nqr-c1="" value="+91-3852411668"> Manipur</option><option _ngcontent-nqr-c1="" value="108"> Meghalaya</option>
                        <option _ngcontent-nqr-c1="" value="102"> Mizoram</option><option _ngcontent-nqr-c1="" value="+91-7005539653"> Nagaland</option>
                        <option _ngcontent-nqr-c1="" value="+91-9439994859"> Odisha</option><option _ngcontent-nqr-c1="" value="104"> Punjab</option>
                        <option _ngcontent-nqr-c1="" value="+91-141-2225624"> Rajasthan</option><option _ngcontent-nqr-c1="" value="104"> Sikkim</option>
                        <option _ngcontent-nqr-c1="" value="+91-44-29510500"> Tamil Nadu</option><option _ngcontent-nqr-c1="" value="104"> Telengana</option>
                        <option _ngcontent-nqr-c1="" value="+91-381-2315879"> Tripura</option><option _ngcontent-nqr-c1="" value="104"> Uttarakhand</option>
                        <option _ngcontent-nqr-c1="" value="18001805145"> Uttar Pradesh</option><option _ngcontent-nqr-c1="" value="1800313444222,+91-3323412600,"> West Bengal</option>
                        <option _ngcontent-nqr-c1="" value="+91-3192-232102"> Andaman and Nicobar Islands</option><option _ngcontent-nqr-c1="" value="+91-9779558282"> Chandigarh</option>
                        <option _ngcontent-nqr-c1="" value="104"> Dadra and Nagar Haveli</option><option _ngcontent-nqr-c1="" value="104"> Daman &amp; Diu</option>
                        <option _ngcontent-nqr-c1="" value="+91-11-22307145"> Delhi</option>
                        <option _ngcontent-nqr-c1="" value="+91-191-2520982,+91-194-2440283"> Jammu and Kashmir</option>
                        <option _ngcontent-nqr-c1="" value="+91-1982-256462"> Ladakh</option><option _ngcontent-nqr-c1="" value="104"> Lakshadweep</option>
                        <option _ngcontent-nqr-c1="" value="104"> Puducherry</option>
                    </select>
                    <p _ngcontent-nqr-c1="" class="statenumber" style="color: #ba2d89;;"></p><p _ngcontent-nqr-c1="">Primary Number : <span _ngcontent-nqr-c1="" style="color:  #ba2d89;; font-weight: 500;">+91-11-23978046</span></p>
                        <p _ngcontent-nqr-c1="">Primary Email : <span _ngcontent-nqr-c1="" style="color: #ba2d89;; font-weight: 500;">ncov2019@gov.in</span></p>
                    </div></div>
                </div>
        </div>
    </div>
    </div>



                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js'></script>
        <script src='https://www.vantajs.com/dist/vanta.cells.min.js'></script>
       
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43322397-2"></script>

        <script type="text/javascript">
      function highlightCurrent() {
        const curPage = document.URL;
        const links = document.getElementsByClassName("nav-link");
        for (let link of links) {
          if (link.href == curPage) {
            link.classList.add("current");
          }
        }
      }
      document.onreadystatechange = () => {
        if (document.readyState === "complete") {
          highlightCurrent();
        }
      };
    </script>
    <script src="{% static 'js/js_home.js' %}"></script>
  </body>
</html>
