{% load static %}
<header>
    <div class="header-area" style="background-color:#cccccc">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 ">
                        <div class="social_media_links">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> Care_connect@gmail.com</a></li>
                                <li><a href="#"> <i class="fa fa-phone"></i>+91 8303030236 </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/Klogo.png' %}" alt="" width="100px" height="90px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="main-menu  d-none d-lg-block text-right float-right">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="{% url 'index' %}">home</a></li>
                                    <li><a href="doctors">Doctors</a></li>
                                    {% if is_patient %}
                                        <li><a href="departments">Make an appointment</a></li>

                                    {% endif %}

                                    <!-- <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="">elements</a></li>
                                            <li><a href="">about</a></li>
                                        </ul>
                                    </li> -->
                                    
                                    <!-- <li><a href="contact.html">Contact</a></li> -->
                                    {% if user.is_authenticated %}
                                        <li><a href="myProfile">Check appointments</a></li>
                                        <li><a href="geo">Location</a></li>

                                        <li><a href="logout">Logout</a></li>
                                        <li>
                                          
                                            <a href="myProfile">
                                                <img src="{% static 'img/profile_icon.png' %}" style="width: 40px;" alt="">
                                            </a>

                   
                                        </li>

                                    {% else %}
                                        <li><a href="login">Login</a></li>
                                        <li><a href="signup">Signup</a></li>

                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--<script type="text/javascript">-->
<!--   function view(imgsrc) {-->
<!--      viewwin = window.open(imgsrc,'viewwin', 'width=600,height=300');-->
<!--   }-->
<!--</script>-->